body{
background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#1e293b;
padding:30px;
border-radius:12px;
text-align:center;
width:400px;
}

input{
width:90%;
padding:10px;
margin:10px;
border:none;
border-radius:6px;
}

button{
padding:10px 20px;
background:#22c55e;
border:none;
border-radius:6px;
cursor:pointer;
}

#result{
margin-top:20px;
}